<div class="container">
  <h1 class="text-center" style="font-size: 30px;">我的简历</h1>

  <table class="table table-boldered table-striped">
    <% @resumes.each do |resume| %>
    <tr>
      <td><%= link_to resume.name, resume_path(resume) %></td>
      <td><%= resume.description %></td>
      <td><%= resume.logdown %></td>
      <td><%= link_to("Edit", edit_resume_path(resume), class: "btn btn-primary")%></td>
      <td><%= link_to("Delete", resume_path(resume), class: "btn btn-primary", method: :delete, data:{confirm: "Are you sure?"})%></td>
    </tr>
    <% end %>
  </table>

</div>
