<h1 style="font-size: 4rem; text-align: center;">所有数据</h1>
<h3 style="font-size: 2.8rem;">所有的简历</h3>
<table class="table table-hover table-striped">
  <% @resumes.each do |resume| %>
  <tr>
    <td><%= link_to resume.name, resume_path(resume) %></td>
    <td><%= resume.description %></td>
    <td><%= link_to("Edit", edit_admin_resume_path(resume), class: "btn btn-primary") %></td>
    <td><%= link_to("Delete", admin_resume_path(resume), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary") %></td>
  </tr>
  <% end  %>
</table>

<h3 style="font-size: 2.8rem;">所有的职位</h3>
<table class="table table-hover table-striped">
  <% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.cp_name, job_path(job) %></td>
    <td><%= job.title %></td>
    <td><%= job.wage_lower_bound %>
      -
      <%= job.wage_upper_bound %></td>
    <td><%= link_to("Edit", edit_admin_job_path(job), class: "btn btn-primary") %></td>
    <td><%= link_to("Delete", admin_job_path(job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary") %></td>
  </tr>
  <% end %>
</table>
