<div class="container">
  <h1 class="text-center" style="font-size: 30px;">所有职位列表</h1>
  <%= link_to("Add a job", new_job_path, class: "btn btn-primary pull-right") %>

  <table class="table table-boldered">
    <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.title,job_path(job) %></td>
      <td><%= job.wage_upper_bound %>
        -
        <%= job.wage_lower_bound %>
        元</td>
      <td><%= job.website %></td>
      <td><%= job.address %></td>
      <td><%= job.contact_wechat %></td>
      <!-- <td><%= link_to("修改招聘信息", edit_job_path(job), class: "btn btn-primary") %></td> -->
    </tr>
    <% end %>
  </table>

</div>
