<div class="container" style="margin-top: 40px;">
  <div class="pull-right clearfix">
    <%= link_to("发职位找人才", new_job_path, class: "btn btn-primary") %>
  </div>
  <h1 style="font-size: 4rem;" class="text-center;">职位列表</h1>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>企业</th>
        <th>企业LOGO</th>
        <th>薪资</th>
        <th>所在城市</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.cp_name, job_path(job)  %></td>
        <td>
          <% if job.cp_image.present? %>
          <%= image_tag(job.cp_image.thumb.url, class: "img-responsive") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "img-responsive") %>
          <% end  %>
        </td>
        <td><%= job.wage_lower_bound %>
          -
          <%= job.wage_upper_bound %></td>
        <td><%= job.cp_city %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
