<div class="container">
  <h1>新增一个职位</h1>

  <%= simple_form_for @job do |f| %>
  <%= f.input :title %>

  <%= hidden_field_tag :wage_upper_bound, id="ii"%>
  <%= f.input :test %>
  <%= f.input :detail %>
  <%= f.input :scale %>
  <%= f.input :website %>
  <%= f.input :work_time %>
  <%= f.input :five_gold %>
  <%= f.input :overtime_pay %>
  <%= f.input :address %>
  <%= f.text_field :contact_wechat, :id => "maplat", :type => "hidden" %>
  <%= f.text_field :work_time, :id => "maplng", :type => "hidden" %>
  <%= f.input :is_show %>

  <%= render "common/baidumap" %>

  <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>

  <%= form_for @job do |f| %>

  标题
  <%= f.text_field :testtree , :id => "latt"%>
  <br>
  叙述
  <br>
  <%= f.text_area :description %>
  <br>

  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  <% end %>
