<div class="container">
  <h1>新增一个职位</h1>
  <%= simple_form_for @job do |f| %>
  <div class="row">
    <h2>公司信息</h2>
    <%= f.input :cp_image, as: :file, label: "公司标志图" %>
    <%= f.input :cp_name %>
    <%= f.input :cp_subtitle %>
    <%= f.input :cp_type %>
    <%= f.input :cp_stage %>
    <%= f.input :cp_number %>
    <%= f.input :cp_city %>
    <%= f.input :cp_description %>
    <%= f.input :cp_website %>
    <%= f.text_field :cp_lat, :id => "maplat", :type => "hidden" %>
    <%= f.text_field :cp_lng, :id => "maplng", :type => "hidden" %>
  </div>
  <div class="row">
    <h2>职位信息</h2>
    <%= f.input :title %>
    <%= f.input :department %>
    <%= f.input :wage_upper_bound %>
    <%= f.input :wage_lower_bound %>
    <%= f.input :is_fulltime %>
    <%= f.input :temptation %>
    <%= f.input :task %>
    <%= f.input :claim %>
    <%= f.input :is_show %>
    <%= f.input :quantity %>
    <%= render "common/baidumap" %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
