<h1>此页面是详情页，待美化……现在只预测功能</h1>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1><%= @job.title %></h1>
      <p><%= @job.description %></p>
      <p><%= @job.detail %></p>
    </div>
    <div class="col-md-3">
      <h2><%= @job.work_time %></h2>
    </div>
  </div>
</div>

<div class="pull-right">
  <% if current_user.is_apply_job?(@job) %>
  <span>你已申请该职位</span>
  <%= link_to("撤消申请该职位", cancel_join_job_path(@job),method: :post, class: "btn btn-primary") %>
<% else %>
  <%= link_to("申请这个职位", apply_join_job_path(@job),method: :post, class: "btn btn-primary") %>
  <% end %>
</div>
