<section>
  <div class="container">
    <div id="da-thumbs" class="da-thumbs row">
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
      <div id="hahali" class="col-xs-3">
        <%= link_to resumes_path do %>
        <img src="images/1.jpg" class="img-responsive"/>
        <div id="hahadiv">
          <span>Menu by Simon Jensen</span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- 以上是我的测试 -->
<script>
  $(function () {
    $(' #hahali ').each(function () {
      $(this).hoverdir();
    });
  });
</script>
