<div class="container">
  <h1>Edit a resume</h1>

  <%= simple_form_for [:admin, @resume] do |f| %>
  <%= f.input :name, label: "姓名" %>
  <%= f.input :description, label: "自我陈述" %>
  <%= f.input :logdown, label: "Logdown 地址"%>
  <%= f.input :fs_username, label: "全栈营ID"%>
  <%= f.input :semester, label: "第几期学员"%>
  <%= f.input :work_place,lable: "希望工作城市"%>
  <%= f.input :contact_email, lable: "联系方式" %>
  <%= f.input :introduction, lable: "用一句" %>
  <%= f.input :fs_link, lael: "全栈营的个人主页" %>
  <%= f.input :wechatimg, label: "微信二维码" %>
  <div class="group">
    <%#= f.input :image, as: :file %>
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
  </div>
  <%= f.input :is_show %>
  <%= f.input :wmf,label: "Job-listing大赛作品截图" %>
  <%= f.input :wmf_link, label: "第一次大赛作品地址" %>
  <%= f.input :wmf_git, label: "第一次大赛作品github地址" %>
  <%= f.input :wms, label: "商店大赛作品截图" %>
  <%= f.input :wms_link, label: "第二次大赛作品地址" %>
  <%= f.input :wms_git, label: "第二次大赛作品github地址" %>
  <%= f.submit "提交" %>
  <% end %>

</div>
