<div class="container">
  <div class=" col-md-8 col-md-offset-2 col-xs-12">
    <h1 style="font-size: 2.6rem;" class="text-center">生成简历</h1>

    <%= simple_form_for @resume do |f| %>
    <%= f.input :name, label: "姓名" %>
    <%= f.input :description, label: "自我简介" %>
    <%= f.input :logdown, label: "Logdown 地址"%>
    <%= f.input :fs_username, label: "全栈营ID"%>
    <%= f.input :semester, label: "第几期学员"%>
    <%= f.input :work_place, label: "希望工作城市"%>
    <%= f.input :contact_email, label: "联系方式" %>
    <%= f.input :fs_link, label: "全栈营的个人主页" %>
    <%= f.input :wechatimg, label: "微信二维码" %>
    <%= f.input :introduction, label: "用几句话简介自己，将会用于标签使用" %>
    <div class="group">
      <%#= f.input :image, as: :file %>
      <%= f.label :avatar, label: "作品展示，多图上传，请按住⌘键"%><br>
      <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
    </div>
    <%= f.input :is_show %>
    <%= f.input :wmf,label: "Job-listing大赛作品截图" %>
    <%= f.input :wmf_link, label: "第一次大赛作品地址" %>
    <%= f.input :wmf_git, label: "第一次大赛作品github地址" %>
    <%= f.input :wms, label: "商店大赛作品截图" %>
    <%= f.input :wms_link, label: "第二次大赛作品地址" %>
    <%= f.input :wms_git, label: "第二次大赛作品github地址" %><br>
    <%= f.submit "提交", class: "btn btn-success"%>
    <% end %>
  </div>

</div>
<br><br><br>
