<!DOCTYPE html>
<html>
  <head>
    <title>全栈小伙伴求职网
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://api.map.baidu.com/api?v=2.0&ak=fitXUIqC5oHoWvnUhd4PwtHlbMb22AvH&s=1" type="text/javascript"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/logo.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="bc-color">

    <div class="container-fluid body-content">
      <div class="content-inside">
        <div class="row navbar-row">
          <%= render "common/navbar" %>
        </div>
        <%= render "common/flashes" %>
        <%= yield %>

      </div>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
